<!DOCTYPE html>
<html>

<head>
    <title>
       
    </title>
    <%- include ./share/head.ejs %>
</head>

<body>
    <%- include ./share/header.ejs %>
    <%- include ./share/modal.ejs %>

        <div>
            <a class="btn navbar-brand" href="">
                <i class="fa fa-home" style="color: white"></i>
            </a>
            <a class="btn navbar-brand" href="">
                <i class="fa fa-arrow-circle-left" style="color: white"></i>
            </a>
        </div>
        <div style="float: right;">
            <a class="btn navbar-brand" href="#">
                <i class="fa fa-upload fa-lg" style="color: white"></i>
                <p>Tao Phim moi</p>
            </a>
            <a class="btn navbar-brand" href="#">
                <i class="fa fa-sign-in fa-lg" style="color: white"></i>
                <p>Dang nhap</p>
            </a>
            <a class="btn navbar-brand" href="#">
                <i class="fa fa-user-plus fa-lg" style="color: white"></i>
                <p>Dang ki</p>
            </a>
        </div>
    </div>
    <div class="container my-container-center my-title-header">
        <strong style="font-size: 40px;">Tao phim moi</strong>
    </div>
    <div class="container my-create-film">
        <form action="/taophim/save" method="POST">
            <div class="container col-sm-12 col-md-5 text-center ">
                <a href="">
                    <img src="/images/image.png" width="422" height="320" class="img-upload" id="blah"/>
                    <input type="hidden" name=""/>
                </a>
                    <div class="form-group">
                        <label class="btn btn-primary text-center my-btn" for="exampleFormControlFile1">
                            <i class="fa fa-file-image-o fa-lg"></i>Chon hinh minh hoa</label>
                        <input type="file" class="form-control-file hide" id="exampleFormControlFile1" name="image" onchange="readURL(this);">
                    </div>
            </div>
            <div class="container col-sm-12 col-md-7 my-form-film">
                <div class="form-group">
                    <h4>Ten bo phim</h4>
                    <input type="text" class="form-control my-input-film" name="name" />
                </div>
                <div class="form-group">
                    <h4>The loai phim:</h4>
                    <select class="my-input-film col-md-12 col-sm-12 col-lg-12 col-xs-12 my-select-film form-control">
                        <option selected="selected">Tieu su lich su</option>
                        <option value="lmtc">Lang man tinh cam</option>
                        <option value="khvt">Khoa hoc vien tuong</option>
                        <option value="hbha">Huyen bi huyen ao</option>
                        <option value="plmh">Phieu luu mao hiem</option>
                        <option value="plhs">Phat luat hinh su</option>
                        <option value="ctct">Chien trang co trang</option>
                        <option value="cthd">Chien trang hien dai</option>
                        <option value="cttd">Chien tranh trung dai</option>
                    </select>
                </div>
                <div class="form-group">
                    <h4>Thoi gian phat hanh:</h4>
                    <select class="my-input-film my-select-film col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <option selected="selected" value="1">Thang 1</option>
                        <option value="2">Thang 2</option>
                        <option value="3">Thang 3</option>
                        <option value="4">Thang 4</option>
                        <option value="5">Thang 5</option>
                        <option value="6">Thang 6</option>
                        <option value="7">Thang 7</option>
                        <option value="8">Thang 8</option>
                        <option value="9">Thang 9</option>
                        <option value="10">Thang 10</option>
                        <option value="11">Thang 11</option>
                        <option value="12">Thang 12</option>
                    </select>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <select class="my-input-film col-md-5 col-sm-5 col-lg-5 col-xs-5 my-select-film">

                        <option selected="selected" value="2018">2018</option>
                    </select>
                </div>

                <div class="">
                    <h4>Noi dung mo ta</h4>
                    <textarea name="description" class="form-control" rows="5" placeholder="Ten dien vien,noi dung phim...">
                </textarea>
                </div>
            </div>
            <div class="container my-container-center my-bot-form">
                <button type="submit" class="btn btn-primary my-btn text-center " style="margin-right: 15px" disabled="disabled">
                    <i class="fa fa-upload fa-lg"></i>Dang phim
                </button>
                <button type="submit" class="btn btn-primary my-btn text-center" style="margin-right: 15px">
                    <i class="fa fa-sign-in fa-lg"></i>Ban can dang nhap
                </button>
                <button type="submit" class="btn btn-primary my-btn text-center" style="margin-right: 15px">
                        Tao phim
                    </button>
            </div>
        </form>
    </div>
    <%- include ./share/footer.ejs %>  
</body>
</html>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(422)
                    .height(320);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>