body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Black Han Sans' !important;
}

a {
  color: rgb(40, 96, 144);
}
.header {
  height: 70px;
background-color: rgb(40, 96, 144);
width: 100%;
color: white;
opacity: 0.7;
}
.navbar {
  height: 30px;
  overflow: hidden;
  width: 100%;
  background-color: grey;
}
p {
  color: white;
  display: inline;
}
.footer {
  height: 100px;
  background-color: black;
}
.my-title-header {
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(40, 96, 144);
  letter-spacing: 1px;
  font-family: 'Paytone One', sans-serif;
}
.my-container-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.my-btn {
  font-size: 1.1em;
  border-radius: 10px;
  padding: 8px 20px;
}
.my-select-film {
  padding: 6px 10px;
}
.my-input-film {
  margin-top: 3px;
  margin-bottom: 20px;
}
.img-upload {
  border-radius: 20px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.img-upload:hover{
  opacity: 1;
}
.my-bot-form {
  padding-top: 50px;
}
.my-footer {
  padding: 13px;
  color: white;
  background-color: rgb(40, 96, 144);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  margin-top: 50px;
  width: 100%;
  
}
.margin-page{
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  overflow: hidden; 
}
.margin-film{
  margin-bottom: 45px;
}
.show-phim{
  height: 360px;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  display: inline-block;
  box-shadow: 3px 5px 10px black;
}
.description-phim{
  position: absolute;
  background-color: slategray;
  z-index: 1000;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 250px;
}
.center-item {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .description-phim:hover{
  opacity: 1;
} */
.face-btn{
  background-color: rgb(40, 96, 144);
}
.google-btn{
  background-color: crimson;
}
.form-input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* slideshow */
.slide-opacity{
  width: 100%;
  height: 350px;
  background-color:black;
  opacity: 0.4;
  position: absolute;
  top: 61px;
}
.slide-show {
  position: relative;
  width: 100%;
  height: 350px;
}
.slide-show img {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: slide_show;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
@keyframes slide_show {
  0% {
      opacity: 0;
  }
  6.66% {
      opacity: 1;
  }
  19.98% {
      opacity: 1;
  }
  26.64% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
/*nth-type-of : cung` loai*/
.slide-show img:nth-of-type(1) {
  animation-delay: 12s;
}
.slide-show img:nth-of-type(2) {
  animation-delay: 9s;
}
.slide-show img:nth-of-type(3) {
  animation-delay: 6s;
}
.slide-show img:nth-of-type(4) {
  animation-delay: 3s;
}
.slide-show img:nth-of-type(5) {
  animation-delay: 0s;
}

/*animation img show*/
.box {
  
  text-align: center;
  position: relative;
  overflow: hidden;/*phai co' de hinh` chay nhu mong muon'*/
}
.box img {
  transition: all 0.3s ease-in-out;
}
.mask {
  width: 240px;
  height: 60px;
  background-color: rgb(40, 96, 144);
  position: absolute;
  top:300px;
  left: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(300px);
  opacity: 0;
}
.mask h2 {
  background-color: rgba(255,255,255,0.5);
  color: #000;
  box-shadow: 0 1px 3px rgba(159,141,140,0.5);
  padding: 5px;
}
.mask p {
  transform: translateX(300px);
}
.mask a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #090;
  padding: 5px;
  transform: translateX(300px);

}
.box:hover .mask {
  transform: translateX(0px);
  opacity: 1;
}
.box:hover .mask p{
  transform: translateX(0px);
  
}
.box:hover .mask a{
  transform: translateX(0px);
}
a.show-phim:hover {
  border: 5px solid rgb(40, 96, 144);
  transition: all 0s ease-in-out;
}

 /* profile-form */
 .profile-form {
  box-shadow:  3px 5px 10px black;
  padding: 20px; 
 }

 #blah{
  border-radius: 50%; 
 }
 .show-submenu{
   position: relative;
   z-index: -1000;
 }
 .film-shadow{
  box-shadow: 1px 2px 10px black;
  padding: 30px;
 }
