<!-- header + navbar -->
<div class="header">
    <h1 style="padding-left:40px; ">
        <strong>Cinema Application</strong>
    </h1>
</div>
<div class="navbar" style="padding: 0px 40px">

    <div>
        <a class="btn navbar-brand" href="/">
            <i class="fa fa-home" style="color: white"></i>
        </a>
        <a class="btn navbar-brand" href="#">
            <i class="fa fa-arrow-circle-left" style="color: white"></i>
        </a>
    </div>
    <div style="float: right;">
        <a class="btn navbar-brand" href="/taophim">
            <i class="fa fa-upload fa-lg" style="color: white"></i>
            <p>Tao Phim moi</p>
        </a>
        <a class="btn navbar-brand" href="#" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-sign-in fa-lg" style="color: white"></i>
            <p>Dang nhap</p>
        </a>
        <a class="btn navbar-brand" href="#" data-toggle="modal" data-target="#myModal2">
            <i class="fa fa-user-plus fa-lg" style="color: white"></i>
            <p>Dang ki</p>
        </a>
    </div>
</div>